<!-- NAVBAR -->
<section class="navbar">
  <nav>
    <div class="navbar-wrapper">
      <div class="navbar-brand"><a
          style="text-decoration: none; color: white;"
          href="/"
        ><span>Dumbways Task</span></a></div>
      <div class="navbar-toggle" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="navbar-menu" id="navbarMenu">
      <a href="/" class="active">Home</a>
      <a href="/blog">Blog</a>
      <a href="/project">My Project</a>
      <!-- <a href="#contact">Project</a> -->
      <a class="nav-btn contact-me" href="/contact">Contact Me</a>
    </div>
  </nav>
</section>
<!-- END NAVBAR -->