<!-- NAVBAR -->
<section class="navbar">
  <nav>
    <div class="navbar-wrapper">
      <div class="navbar-brand"><a style="text-decoration: none; color: white;" href="/"><span>Dumbways Task</span></a>
      </div>
      <div class="navbar-toggle" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="navbar-menu" id="navbarMenu">
      <a href="/" class="{{#if isActive}}active{{/if}}">Home</a>
      <a href="/blog" class="{{#if isBlog}}active{{/if}}">Blog</a>
      <a href="/project" class="{{#if isProject}}active{{/if}}">My Project</a>
      <a href="/testimonial" class="{{#if isTestimonial}}active{{/if}}">Testimonial</a>
      <!-- <a href="#contact">Project</a> -->
      <a href="/contact" class="nav-btn contact-me {{#if isContact}}active{{/if}}">Contact Me</a>
    </div>
  </nav>
</section>
<!-- END NAVBAR -->