const testimonialHtml = (data) =>
data
  .map((item) => {
    return `
<div class="col-lg-4 col-md-3 d-flex justify-content-center">
  <div class="card mx-0 my-3 shadow p-3">
    <img src="${item.image}" class="card-img-top" alt="..." />
    <div class="card-body" style="height: 150px;">
      <div style="height: 100px;" class="keterangan overflow-scroll">
        <p class="card-text">${item.testimoni}</p>
      </div>
      <p class="fw-bold text-end">${item.author}</p>
      <p class="fw-bold text-end">${item.rating}★</p>
    </div>
  </div>
</div>
`;
  })
  .join("");

function showAllTestimoni() {
testimonialElement.innerHTML = testimonialHtml(testimonial);
}

function    (rating) {
const filteredTestimoni = testimonial.filter(
  (item) => item.rating === rating
);
if (filteredTestimoni.length === 0) {
  testimonialElement.innerHTML = `<h1 class="text-center">Tidak ada testimoni dengan rating ${rating}</h1>`;
} else {
  testimonialElement.innerHTML = testimonialHtml(filteredTestimoni);
}
}

showAllTestimoni();