{{> preloader}}
{{> navbar}}
<section id="project" style="background-color: #3C486B;">
  <div class="contact-form">
    <div class="form-control">
      <div class="title">
        <h1 style="margin-bottom: 30px">Add My Project</h1>
      </div>
      <form action="/addproject" method="post" class="project-form" enctype="multipart/form-data">
        <label for="projectname">Project Name</label><br />
        <input required class="input-form" type="text" id="projectname" name="projectname" /><br />
        <div class="dateinput">
          <div>
            <label for="startdate">Start Date</label><br />
            <input required class="input-form" type="date" id="startdate" name="startdate" /><br />
          </div>

          <div>
            <label for="enddate">End Date</label><br />
            <input required class="input-form" type="date" id="enddate" name="enddate" /><br />
          </div>
        </div>
        <label for="description">Description</label><br />
        <textarea required class="input-form" name="description" id="description"></textarea><br />
        <label for="technologies">Technologies</label><br />
        <div class="checkbox-wrapper">
          <div class="checkbox">
            <input type="checkbox" id="nodejs" name="technologies" value="Node.js" />
            <label for="nodejs">Node.js</label><br />
          </div>
          <div class="checkbox">
            <input type="checkbox" id="reactjs" name="technologies" value="React.js" />
            <label for="reactjs">React.js</label><br />
          </div>
          <div class="checkbox">
            <input type="checkbox" id="nextjs" name="technologies" value="Next.js" />
            <label for="nextjs">Next.js</label><br />
          </div>
          <div class="checkbox">
            <input type="checkbox" id="typescript" name="technologies" value="TypeScript" />
            <label for="typescript">TypeScript</label><br />
          </div>
        </div>
        <div class="upload-wrapper">
          <label for="image-upload">Upload Image</label><br />
          <div id="image-preview-container" style="margin-top: 10px;" class="d-flex justify-content-center">
            <input type="file" id="image-upload" class="upload-input" accept="image/*" name="image" title=" "
              onchange="previewImage(event)" hidden />
            <div class="image-preview-box">
              <label style="cursor: pointer;" class="w-100 h-100 d-flex justify-content-center " for="image-upload">
                <img style="cursor: pointer;" width="25px" src="/img/svg/plus.svg" alt="">
              </label>
            </div>
          </div>
          <div class="image-name-container mt-2">
          </div>
        </div>
        <div class="btn-wrapper">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  function previewImage(event) {
    const imageInput = event.target;
    const imagePreviewBox = document.querySelector(".image-preview-box");
    const imageName = document.querySelector(".image-name-container");
    if (imageInput.files && imageInput.files[0]) {
      const reader = new FileReader();
      reader.onload = function (e) {
        console.log(imageInput.files[0].name);
        imagePreviewBox.innerHTML = `<label  class="w-100 d-flex justify-content-center" for="image-upload"> <img id="image-preview" src="${e.target.result}" alt="Image Preview" 
          style="max-width: 100%; height: auto; border: 1px solid #ccc; padding: 5px;" /> </label>`;
        imageName.innerHTML = `<p class="text-primary text-center">${imageInput.files[0].name}</p>`
      };
      reader.readAsDataURL(imageInput.files[0]);
    }
  }
</script>