<section id="detailprojects">
  <div class="container">
    <div
      style="height: 80%;"
      class="row d-flex justify-content-center align-items-center"
    >
      <div class="col-12 col-md-12 col-lg-6 d-flex justify-content-center">
        <img width="90%" src="/img/cv.jpg" alt="" />
      </div>
      <div class="col-12 col-md-12 col-lg-6 px-5">
        <div class="title">
          <h2>{{projects.title}}</h2>
        </div>
        <div class="desc-wrapper">
          <p class="duration">Pengerjaan : {{projects.duration}}</p>
          <p class="desc">{{projects.description}}</p>
          <p class="fw-bold">Tech Stack : {{projects.tech_stack}}</p>
          <div class="btn-wrapper w-100 d-flex justify-content-between">
            <button style="width: 48%;" class="edit bg-warning">Edit</button>
            <button style="width: 48%;" class="delete bg-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>